<h1>Calculator</h1>
<form action="square">
  <div class="">
    <p>
      Square
    </p>
    <input type="text" name="user_number1" >

  </div>
  <button>Solve</button>
</form>


 <form action="square_root">
   <div class="">
     <p>
       Square Root
     </p>
     <input type="text" name="user_number" >

   </div>
   <button>Solve</button>
 </form>



 <form action="randrange">
   <div>
     <p>
       Random Number Generator
     </p>
     <p>
       <label for="start">From</label>
       <input type="text" id=start name="user_start">
     </p>
     <p><label for="end">To</label>
       <input type="text" id=end name="user_end">
     </p>
   </div>
   <button>Get my random number</button>
 </form>

 <form action="pmt_form">
   <div>
     <p>
       Loan Payment Calculator
     </p>
     <p>  <label for="interest">APR</label>
       <input type="text" id=interest name="points1" value="type in '10' for 10%">
     </p>
     <p><label for="years">Term</label>
       <input type="text" id=years name="years1" value="Life of the Loan in Years" >
     </p>
     <p><label for="princ">Amount</label>
       <input type="text" id=princ name="principal1" value="Whole dollars">
     </p>
   </div>
   <button>How much is my payment?</button>
 </form>
