<div>
  <div>
    <h3>Descriptive Statistics Results</h3>
  </div>
  <div>
    <dl>
      <dt>Number</dt>
      <dd><%= @number %></dd>
      <dt>Square</dt>
      <dd><%= @square %></dd>

    </dl>
  </div>
</div>
