<h1>Calculate a new number</h1>

<form action="/calculate">

  <div>
    <label>
      Integer Number
    </label>
    <input type="text" name="the_number" placeholder="Number">
  </div>

  <button>
    Calculate number
  </button>

</form>
