<h1>Loan Payment</h1>

<p>A <%= @year.to_s %> loan of $<%= @principal.to_s %>, with an annual interest rate of <%= (@int_rate / 100.to_i).to_s %>%, requires a monthly payment of $<%= @monthly_pmt.to_s %>.
