<blockquote>
  <div class="page-header">
    <h1>Payment</h1>
  </div>

  <p class="lead">A <%= @year %> year loan of $<%= @principal %>, with an annual interest rate of <%= @intpercentage %>%, requires a monthly payment of $<%= @mprounded %>.</p>
</blockquote>
