<h1>Loan Payment Calculator</h1>

<form action="payment/:interest_rate/:number_of_years/:principal_value">
  <label>Interest Rate</label>
  <input type="integer" name="the_interest_rate">
  <label>Number of Years</label>
  <input type="integer" name="the_number_of_years">
  <label>Principal Value</label>
  <input type="integer" name="the_principal_value">


  <button>Calculate my loan payment</button>
</form>