<h2>Payment Calculator</h2>

<form class="" action="/payment/calculate">
  <div class="">
    <label for="interest">Interest Rate</label>
    <div class="">
      <input type="text" name="interest" value=""> %
    </div>
  </div>


  <div class="">
    <label for="years"># of Years</label>
    <div class="">
      <input type="number" name="years" value="">
    </div>
  </div>

  <div class="">
    <label for="principal">Principal Amount</label>
    <div class="">
      <input type="number" name="principal" value="">
    </div>
  </div>

  <div class="">
    <input type="submit" name="" value="Calculate">
  </div>
</form>
