<h1>Payment</h1>
<p>
  A <%= @yr %> year loan of $<%=@principal%>, with an annual interest rate of <%='%.1f' % (@bp/100)%>, requires a monthly payment of $<%='%.2f' % @payment%>.
</p>

<a href="/">Back</a>
