<h1>Monthly Loan Payment Calculator</h1>


<p>A <%=@years%> year loan of $<%=@value%>, with an annual interest rate of <%=@rate%>%, requires a monthly payment of $<%=@monthly_payment%>.
</p>

   <hr>
    <button> <a href="/">Take me back!</a> </button>