<h1>Random Number Calculator</h1>

<form action="random/:min/:max">
  <label>Minimum Value</label>
  <input type="integer" name="the_min">
  <label>Maximum Value</label>
  <input type="integer" name="the_max">
  <button>Pick a random number</button>
</form>