
<h1>Let's Find a Random Number</h1>
<hr>

<form action="/random/submit">
  <div class="form-group">
    <label for="min">Input Min Number</label>
    <input type="number" name="min" class="form-control" id="min" placeholder="e.g. 3">
  </div>
  <div class="form-group">
    <label for="max">Input Max Number</label>
    <input type="number" name="max" class="form-control" id="max" placeholder="e.g. 13">
  </div>
      <button type="submit" class="btn btn-default">Submit</button>
</form>
